.App {
  display:grid;
  text-align: center;
}

.main-nav {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  
}

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
